body{
    background: #F2F2F2;
}

.main-container{
    background: #F2F2F2;
    padding: 0;
    font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
}

.data-container{
    padding: 1px 8px 0;

}

.option-container{
    padding: 1px 8px 0 0;
}

.full-page{
    height:100vh;
}

.g_card{
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    border-bottom: 1px hidden #fff;
    /*margin: 0 0 10px 0;*/
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.g_card_button_container{
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.g_card_column{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0;
    padding-top: 0;
}

.g_card_content{

}

.g_card_header{
    border-bottom: 1px solid #ebebeb;
    display: block;
    line-height: 20px;
    margin: 2px -16px 9px -16px;
    padding: 0 16px 11px 16px;
}

.g_card_header_primary, .g_card_header_primary_relative{
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    font-weight: inherit;
    padding: 0;

}

.g_card_header_primary_relative{
    margin-left: 52px;
    /*margin-right: 72px;*/
}


.g_card_header_secondary, .g_card_header_secondary_relative{
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #777;
    font-size: 14px;
}

.g_card_header_secondary_relative{
    margin-left: 52px;
    /*margin-right: 72px;*/
}

.g_card_header_secondary > cite, .g_card_header_secondary_relative > cite{
    color: #006621;
    max-width: 95%;
    white-space: nowrap;
    font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif !important;
    font-weight: inherit;
    font-style: normal;
}

.g_card_extra{
    line-height: 20px;
    word-wrap: break-word;
    color: #222;
}

.g_card_extra_content{
    line-height: 20px;
    word-wrap: break-word;
}

.g_card_extra_content_extended{
    height: 50px;
}

.non_active_extra_content{
    padding: 16px 0 14px;
    position: absolute;
    left: 50%;
    margin-left: -46px;
}

.g_card_extra_info{
    color: #777;
}

.g_card_section{
    font-size: 14px;
    line-height: 20px;
    padding: 11px 16px 11px 16px;
    margin: 0;
    display: block;
    text-align: left;
    word-wrap: break-word;
}

.g_card_section_with_tray{
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.12);
    line-height: 20px;
    padding: 13px 16px 11px;
    margin: 0;
    display: block;
    text-align: left;
    word-wrap: break-word;
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

.header-container{
    display: block;
    height: 64px;
    position: relative;
    width: 100%;
}

.header-container-icon{
    padding: 16px 0 14px;
    position: absolute;
    left: 50%;
    margin-left: -46px; /*TODO Use half the size of the logo HERE*/
}

.content-container-icon{
    /*padding: 16px 0 14px;*/
    left: 50%;
    margin-left: -15px; /*TODO Use half the size of the logo HERE*/
    position: absolute;
    background: white;
    height: 30px;
    width: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 50px;
    display:inline-block;
}

.g_card_extra_info_toggle{
    height: 30px;
}

.header-container-icon-image{
    background: url(/src/img/all_logos_complet.png) no-repeat;
    /*google logo*/
    /*background: url(https://www.google.de/images/nav_logo242_hr.png) no-repeat;*/
    /*background-position: 0 -374px;*/
    /*background-size: 167px;*/

    background-position: -108px -15px;
    background-size: 201px;
    height: 36px;
    width: 92px;
}

.content-container-icon-image{
    /*background: url(/src/img/arrow_down.png) no-repeat;*/
    /*background-position: 0 -374px;*/
    /*background-size: 26px;*/
    height: 30px;
    width: 30px;
    /*text-align: center;*/
    display: table-cell;
    vertical-align: middle;
}

.g_card_header_img{
    position: relative;
    float: left;
    margin-left: 1px;
    /*margin-top: 4px;*/
    height: 40px;
    width: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.g_card_tray{
    background-color: #f8f8f8;
    font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    display: block;
    padding: 13px 16px 11px;
}

.tray_text{
    color: rgba(0,0,0,.54);
    font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif !important;
}

.g_card_main_with_tray{
}

.tools-container{
    position: relative;
}

.tools-container > .tools-content{
    margin-left: 8px;
    margin-right: 8px;
    overflow: visible;
}

.tools{
    background-color: #f8f8f8;
}

.tools-options{
    background: #f8f8f8;
    color: #666;
    font-size: small;
    outline-width: 0;
    outline: none;
    position: relative;
    z-index: 102;
}

.tools-option{
    color: rgba(0,0,0,.54);
    display: inline-block;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 16px;
    padding-left: 10px;
    line-height: 22px;
    cursor: pointer;

    padding-left: 0;
    outline-width: 0;
    outline: none;
}

.tools-option-txt{
    display: inline-block;
    padding-right: 14px;
    white-space: nowrap;
}

.tools-option-drop-symbol{

    border-color: #909090 transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    width: 0;
    height: 0;
    margin-left: -10px;
    top: 50%;
    margin-top: -2px;
    position: absolute;

}

.search-container{

    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    border-bottom: 1px hidden #fff;
    margin: 0 0 10px 0;


    margin-left: 8px;
    margin-right: 8px;
    overflow: visible;
    position: relative;
    z-index: 103;

}

.search-container .search-box{

}

.search-form {
    border-bottom: 1px solid rgba(0,0,0,.12);
    height: 39px;

    text-align: left;
    background: none;
}

.search-input-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 5px 0;

    padding: 7px 0;
}

.search-container .search-box .search-form .search-input{
    color: #000;
    line-height: 25px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;

    font-size: 16px;
    color: rgba(0,0,0,.87);

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: -webkit-box;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    flex: 1 0;
    padding-left: 16px;

    outline: none;
}

a.g_card_extra_content{
    text-decoration: none;
}

a.g_button{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin: 2px 0;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    -webkit-transition: all 0.218s,visibility 0s;
    transition: all 0.218s,visibility 0s;
    -webkit-user-select: none;

    background-color: #f5f5f5;
    /* background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1)); */
    /* background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1); */
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    /* border: 1px solid #dcdcdc; */
    border: 1px solid rgba(0,0,0,0.1);
    /* color: #444; */

    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: #444;
    margin: 0;

    text-decoration: none;

    background: #4d90fe;
    border-color: #3079ed;
    font-weight: bold;
    color: white;
}
